In [2]:
#list
#Dictionary
#Tuple
#Set
#Looping
#Function

In [3]:
#list
list_sample = ["Irfan",23,3.4,["Ananda", "Kurniawan"], True]
print(list_sample[0])
print(list_sample[2])
print(list_sample[-1])

Irfan
3.4
True

In [4]:
#Dictionary
Dic_sample = {"Irfan":"Kawan", 23:90,3.4:5.4,True:False}
print(Dic_sample["Irfan"])
print(Dic_sample[23])
print(Dic_sample[True])

Kawan
90
False

In [5]:
Dic_sample.keys()

dict_keys(['Irfan', 23, 3.4, True])

In [6]:
IniList = [9,2,3]
IniList.append(10)
IniList

[9, 2, 3, 10]

In [7]:
IniList.insert(0,30)
IniList

[30, 9, 2, 3, 10]

In [8]:
IniList.pop() #Remove top od the list
IniList

[30, 9, 2, 3]

In [9]:
IniList.remove(2) #Remove 2
IniList

[30, 9, 3]

In [13]:
IniList.remove(IniList[1])
IniList

[3, 30]

In [10]:
IniList.sort() 
IniList

[3, 9, 30]

In [14]:
#Set
IniSet = [2,4,1,6,7,7,5,3,2]
IniSet

[2, 4, 1, 6, 7, 7, 5, 3, 2]

In [15]:
IniSetAsli = set(IniSet) #Di sort dan tanpa angka double
IniSetAsli

{1, 2, 3, 4, 5, 6, 7}

In [16]:
IniSet = list(IniSetAsli)
IniSet

[1, 2, 3, 4, 5, 6, 7]

In [17]:
#Tuple mirip list namun ndak bisa di add/remove
IniTuple = (3,4,1,4,5,11,2)
IniTuple[3]

4

In [11]:
#Looping
a = 2
while a < 4:
    print(a)
    a+=1

2
3

In [18]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [20]:
for i in range(0,10,2): #(Start,End,Interval)
    print(i)

0
2
4
6
8

In [12]:
while True:
    umur = int(input())
    if umur >= 21:
        print("U're allowed")
        break
    elif umur < 21:
        print("U're Underage")
        continue

U're allowed

In [21]:
#ForElse
for i in range(0,10,2):
    print("Hai")
else:
    print("Kamu buat aku tersipu")

Hai
Hai
Hai
Hai
Hai
Kamu buat aku tersipu

In [22]:
for i in IniList:
    print(i)

3
30

In [23]:
for i in Dic_sample:
    print(i)

Irfan
23
3.4
True

In [25]:
for idx,nilai in enumerate(list_sample):
    print("{} = {}".format(idx,nilai))
    if nilai == 23:
        list_sample[idx] = "Makan"
list_sample

0 = Irfan
1 = 23
2 = 3.4
3 = ['Ananda', 'Kurniawan']
4 = True

['Irfan', 'Makan', 3.4, ['Ananda', 'Kurniawan'], True]

In [26]:
#Function
def largest_number(a,b):
    if a > b:
        return a
    else:
        return b

In [27]:
print(largest_number(45,11))

45